RESEND_API_KEY=re_WgkDK1be_34F2mmb4wgUzWU71U4vH6inr       # Resend dashboard → API Keys
RESEND_TOPIC_ID=b16c8793-3f35-4433-b9b8-029ccf74614c       # Resend dashboard → Contacts → Topics → Vedika Newsletter
